.dialog {
  display: flex;
  background: url("../img/orange-bg.png");
  position: relative;
  overflow: hidden;

  @media (max-width: 767px) {
    display: block;
    border-radius: 0 0 0 180px;
  }

  @media (max-width: 450px) {
    border-radius: 0 0 0 130px;
  }

  &__left {
    width: 49%;
    background: $ld-dark;
    border-radius: 0 0 350px 0;
    position: relative;

    @media (max-width: 767px) {
      width: 100%;
    }

    @media (max-width: 450px) {
      border-radius: 0 0 130px 0;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 0 30px 30px;
      border-color: transparent transparent transparent $ld-dark;
      position: absolute;
      right: -30px;
      top: 20%;
    }
  }

  &__right {
    width: 51%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__content {
    text-align: center;
    max-width: 550px;
    margin: 115px auto 490px;

    @media (max-width: 767px) {
      margin: 0 auto;
      padding: 100px 0;
    }

    @media (max-width: 450px) {
      padding: 70px 20px 90px;
    }

    a {
      display: block;
      margin: 50px auto 0;
      background: #F53800;
      border-radius: 2px;
      width: 220px;
      font-weight: bold;
      font-size: 20px;
      line-height: 54px;
      text-align: center;
      text-decoration: none;
      color: #FBFFFF;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FBFFFF;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    margin: 50px 0 20px;

    @media (max-width: 767px) {
      margin: 30px 0 20px;
    }

    @media (max-width: 450px) {
      font-size: 36px;
    }
  }

  &__description {
    color: #FBFFFF;
    line-height: 1.6;
    font-weight: 600;

    @media (max-width: 767px) {
      font-size: 22px;
    }

    @media (max-width: 450px) {
      font-size: 14px;
    }
  }
}

.dialog-data {
  margin: 130px 0 0 100px;

  @media (max-width: 767px) {
    margin: 70px 0 50px 60px;
  }

  @media (max-width: 450px) {
    margin: 40px 20px;
  }

  &__item {
    max-width: 510px;
    margin-right: 100px;

    @media (max-width: 767px) {
      max-width: 440px;
      margin-right: 70px;
    }

    p {
      line-height: 1.6;
      color: #FFFFFF;
      text-align: justify;
    }
  }

  &__image {
    border-radius: 40px 0 0 0;
    overflow: hidden;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }

  &__count {
    font-size: 15px;
    line-height: 1.6;
    color: #FF825B;
    border-bottom: 1px solid #FF825B;
    width: 130px;
    padding-top: 30px;

    @media (max-width: 767px) {
      padding-top: 0;
    }
  }

  .slick-arrow {
    width: 22px;
    height: 22px;
    border: none;
    background: #FF6435;
    font-size: 0;
    position: absolute;
    bottom: 0;

    &.slick-prev {
      left: 466px;
      background-image: url("../img/dialog-slick-prev.svg");
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 5;

      @media (max-width: 767px) {
        left: 397px;
      }
    }

    &.slick-next {
      left: 488px;
      background-image: url("../img/dialog-slick-next.svg");
      background-position: center center;
      background-repeat: no-repeat;
      z-index: 5;

      @media (max-width: 767px) {
        left: 418px;
      }
    }
  }
}

.dialog-we-help {
  position: absolute;
  bottom: 130px;
  left: 210px;
  display: flex;

  @media (max-width: 767px) {
    position: relative;
    bottom: 0;
    left: 0;
    background: #17262C;
    padding: 70px 0 70px 50px;
  }

  @media (max-width: 450px) {
    padding: 40px 0 0 30px;
    display: block;
  }

  &__label {
    font-size: 22px;
    line-height: 1.2;
    text-align: right;
    color: #FBFFFF;
    font-weight: 600;
    min-width: 175px;
    margin: 30px 50px 0 0;

    @media (max-width: 450px) {
      margin: 0 40px 40px 0;
    }

    &:after {
      content: "";
      display: block;
      width: 45px;
      height: 6px;
      background: #F53800;
      margin: 15px 0 0 auto;
    }
  }
}

.dialog-we-help-carousel {
  @media (max-width: 450px) {
    padding: 0 0 110px;
  }

  &__item {
    max-width: 150px;
    margin-right: 50px;

    img {
      display: block;
      margin-bottom: 30px;
      max-width: 100%;
    }

    p {
      font-size: 15px;
      line-height: 1.2;
      color: #FFFFFF;
    }
  }

  .slick-prev {
    display: none !important;
  }

  .slick-next {
    font-size: 0;
    width: 75px;
    height: 20px;
    border: none;
    background: url("../img/dialog-we-help-arrow.svg") center center no-repeat;
    position: absolute;
    bottom: 20px;
    left: -125px;

    @media (max-width: 450px) {
      left: auto;
      right: 0;
      bottom: 60px;
    }
  }
}
