@import "~filepond/dist/filepond.min.css";

.filepond--drip {
  background: transparent;
}

.filepond--panel-root {
  background: transparent;
}

.filepond--item-panel {
  background: transparent;
  border-bottom: 1px solid #F53800;
  border-radius: 0;
}

.filepond--item {
  margin: .25em 0;

  & >.filepond--panel .filepond--panel-bottom {
    box-shadow: none;
  }
}

.filepond--file {
  border-radius: 0;
  align-items: center;
}

.filepond--file-info {
  transform: translateX(0) !important;

  .filepond--file-info-main {
    color: #111;
    font-size: 18px;

    @media (max-width: 450px) {
      font-size: 14px;
    }
  }

  .filepond--file-info-sub {
    display: none;
  }
}

.filepond--root {
  .filepond--drop-label {
    min-height: 40px;
    border-bottom: 1px solid #F53800;
    justify-content: flex-start;
    color: #111111;

    label {
      font-size: 18px;

      @media (max-width: 450px) {
        font-size: 14px;
      }
    }
  }
}

.filepond--list {
  left: 0;
  right: 0;
}

.filepond--file-action-button {
  &.filepond--action-remove-item {
    background: url("../img/input-file-list__remove.svg") center center no-repeat;
    background-size: 14px 14px;

    svg {
      opacity: 0;
    }
  }
}
