.footer {
  background: linear-gradient(90deg, #18181B 0%, #111111 100%);
  padding-top: 50px;

  @media (max-width: 450px) {
    padding-top: 0;
  }

  &__partners {
    @media (max-width: 767px) {
      width: 100%;
    }

    @media (max-width: 450px) {
      display: none;
    }
  }

  &__logo {
    font-size: 38px;
    line-height: 1;
    color: #FBFFFF;
    font-weight: 700;

    img {
      width: 60px;
      margin-bottom: 20px;
      display: block;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 30px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__links {
    a {
      font-size: 15px;
      line-height: 1.4;
      color: #cccfd0;
      display: table;
      margin: 3px 0;
      text-decoration: none;
    }
  }

  &__bottom {
    padding: 30px 0;
    background: linear-gradient(179.85deg, #18181B -44.11%, #101012 97.53%);
    margin-top: 50px;

    @media (max-width: 767px) {
      margin-top: 30px;
    }

    @media (max-width: 450px) {
      margin-top: 0;
    }
  }

  &__copyright {
    font-size: 12px;
    color: #FBFFFF;
    opacity: 0.8;
    text-align: center;
  }

  .footer-contacts {
    max-width: 170px;

    a {
      display: flex;
      text-decoration: none;
      font-size: 15px;
      line-height: 1.4;
      color: #d0d0d0;
      margin-bottom: 6px;
    }

    &__icon {
      width: 12px;
      text-align: center;
      margin-right: 11px;
    }
  }

  .footer-partners {
    display: flex;
    flex-wrap: wrap;
    width: 225px;

    @media (max-width: 767px) {
      width: 100%;
      justify-content: center;
    }

    a {
      padding: 0 25px 25px 0;
      width: 33.33%;

      @media (max-width: 767px) {
        width: auto;
        padding: 0 12px 25px;
      }

      img {
        width: 50px;
        height: auto;
      }
    }
  }
}
