.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  @media (max-width: 767px) {
    padding: 15% 0;
    height: auto;
  }

  @media (max-width: 450px) {
    height: 100vh;
    padding: 100px 0 0;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__video-overlay {
    position: absolute;
    opacity: 0.8;
    background: #17262C;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding-bottom: 100px;

    @media (max-width: 1440px) {
      padding-bottom: 80px;
    }
  }

  &__logo {
    font-size: 71px;
    line-height: 1;
    color: #FBFFFF;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 35px;
    font-weight: 700;

    @media (max-width: 1440px) {
      margin-bottom: 15px;
    }

    @media (max-width: 450px) {
      font-size: 36px;
    }

    img {
      display: block;
      margin-bottom: 20px;

      @media (max-width: 450px) {
        width: 60px;
      }
    }
  }

  &__slogan {
    max-width: 450px;
    font-size: 20px;
    line-height: 1.2;
    color: #FBFFFF;
    margin-bottom: 35px;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: 115px;

    @media (max-width: 1440px) {
      margin-top: 15px;
    }

    @media (max-width: 767px) {
      display: block;
    }

    @media (max-width: 450px) {
      display: none;
    }
  }

  &__menu {
    border-left: 6px solid $ld-orange;
    padding-left: 20px;

    a {
      display: block;
      font-size: 12px;
      line-height: 120%;
      text-transform: uppercase;
      text-decoration: none;
      color: #FBFFFF;
      margin: 14px 0;
      font-weight: 600;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: #FF6435;
      }
    }
  }

  &__social {
    @media (max-width: 767px) {
      margin-top: 60px;
    }

    a {
      margin-left: 45px;

      @media (max-width: 767px) {
        margin: 0 45px 0 0;
      }

      &:hover {
        svg {
          path {
            fill: #FF6435;
          }
        }
      }
    }
  }

  &__scroll {
    padding: 10px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -22px;
    cursor: pointer;
    transition: .3s all ease-in-out;

    @media (max-width: 767px) {
      bottom: -100px;
    }

    &:hover {
      bottom: -20px;

      @media (max-width: 767px) {
        bottom: -120px;
      }
    }
  }
}
