.header-fixed {
  position: sticky;
  top: 0;
  z-index: 15;
  background: #FFFFFF;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: none;
  }

  &__logo {
    margin-right: 40px;

    @media (max-width: 1350px) {
      margin-right: 10px;
    }
  }

  &__menu {
    a {
      font-weight: 600;
      font-size: 12px;
      line-height: 1.2;
      text-transform: uppercase;
      color: #17262C;
      text-decoration: none;
      margin: 0 27px;

      @media (max-width: 1560px) {
        margin: 0 13px;
      }

      @media (max-width: 1350px) {
        margin: 0 5px;
      }
    }
  }

  &__social {
    a {
      margin: 0 12px;

      @media (max-width: 1440px) {
        margin: 0 10px;
      }

      @media (max-width: 1350px) {
        margin: 0 5px;
      }
    }
  }
}
