.lskd {
  padding: 160px 0;

  @media (max-width: 767px) {
    padding: 100px 0;
  }

  @media (max-width: 450px) {
    padding: 70px 0;
  }

  &__content {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: 767px) {
      margin: 0 auto 55px;
    }
  }

  a.more {
    display: block;
    margin: 50px auto 0;
    background: #FF6435;
    border-radius: 2px;
    width: 220px;
    font-weight: bold;
    font-size: 20px;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
    color: #FBFFFF;

    @media (max-width: 767px) {
      display: none;
    }

    &.link-mobile {
      display: none;
      margin: 110px auto 0;

      @media (max-width: 767px) {
        display: block;
      }

      @media (max-width: 450px) {
        margin: 0 auto;
      }
    }
  }

  &__name {
    font-weight: bold;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #111111;
    margin: 50px 0 20px;

    @media (max-width: 767px) {
      margin: 30px 0 20px;
    }

    @media (max-width: 450px) {
      font-size: 36px;
    }
  }

  &__description {
    width: 230px;
    padding-left: 20px;
    border-left: 6px solid #f53800;
    text-align: left;
    font-weight: 600;
    line-height: 1.2;
    margin: 32px 15px 13px;
  }

  &__image {
    //padding-right: 35px;

    @media (max-width: 767px) {
      max-width: 540px;
      margin: 0 auto;
    }

    @media (max-width: 450px) {
      padding-right: 0;
    }

    img {
      width: 100%;
      border-radius: 150px 0 0 0;
      margin: 0 0 0 auto;
      display: block;
    }
  }
}

.lskd-image-block {
  max-width: 720px;
}

.lskd-qr {
  position: absolute;
  bottom: -200px;
  width: 40%;
  background: #fff;
  display: flex;

  @media (max-width: 450px) {
    position: static;
    width: 100%;
    margin-top: 15px;
  }

  &__item {
    flex: 0 0 50%;
    min-width: 50%;

    a {
      display: block;
      margin-bottom: 10px;
    }
  }

  img {
    width: 100%;
  }
}

.lskd-target {
  width: 60%;
  background: #17262C;
  position: absolute;
  right: 0;
  bottom: -200px;
  padding: 40px 0 50px 40px;

  @media (max-width: 450px) {
    position: static;
    margin: 0 -20px;
    width: auto;
  }

  &__title {
    font-size: 22px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
    font-weight: 700;
  }
}

.lskd-target-carousel {
  .slick-track {
    display: flex;

    .slick-slide {
      height: auto;

      > div {
        height: 100%;
      }
    }
  }

  &__item {
    max-width: 250px;
    margin-right: 20px;
    line-height: 1.6;
    color: #FFFFFF;
    height: 100%;
  }

  &__count {
    font-size: 15px;
    line-height: 1.6;
    color: #FF825B;
    border-bottom: 1px solid #FF825B;
    width: 130px;
    padding-top: 5px;
    margin-top: auto;
  }

  .slick-arrow {
    width: 22px;
    height: 22px;
    border: none;
    background: #FF6435;
    font-size: 0;
    position: absolute;
    top: -63px;

    &.slick-prev {
      right: 62px;
      background-image: url("../img/dialog-slick-prev.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }

    &.slick-next {
      right: 40px;
      background-image: url("../img/dialog-slick-next.svg");
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}
