.mks-block {
  display: flex;
  background: #F3F3F3;

  @media (max-width: 767px) {
    height: auto;
    display: block;
  }

  &__left {
    width: 49%;
    background: url("../img/orange-bg.png");
    border-radius: 0 0 37% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: sticky;
    height: calc(100vh - 68px);
    top: 68px;

    @media (max-width: 1440px) {
      border-radius: 0 0 49% 0;
    }

    @media (max-width: 767px) {
      width: 100%;
      border-radius: 0 0 350px 0;
      padding: 100px 20px 190px;
      position: static;
      height: auto;
    }

    @media (max-width: 450px) {
      border-radius: 0 0 100px 0;
      padding: 70px 0;
    }

    a {
      background: #FF6435;
      border-radius: 2px;
      width: 220px;
      font-weight: bold;
      font-size: 20px;
      line-height: 54px;
      text-align: center;
      text-decoration: none;
      color: #FBFFFF;
      box-shadow: 4px 4px 0 rgba(50, 16 ,15, .3);
      transition: .3s all ease-in-out;

      &:hover {
        box-shadow: 5px 5px 0 rgba(50, 16 ,15, .3);
      }
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 0 30px 30px;
      border-color: transparent transparent transparent #f6410a;
      position: absolute;
      right: -30px;
      top: 35%;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  &__name {
    font-weight: bold;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FBFFFF;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    margin: 50px 0;

    @media (max-width: 1440px) {
      margin: 30px 0;
    }

    @media (max-width: 450px) {
      font-size: 36px;
    }
  }

  &__right {
    width: 51%;
    padding-top: 5%;

    @media (max-width: 767px) {
      width: 100%;
      padding: 70px 60px 0;
    }

    @media (max-width: 450px) {
      padding: 40px 20px 0;
    }
  }
}

.mks-data {
  overflow: auto;
  height: 100%;
  max-width: 715px;
  margin: 0 auto;

  @media (max-width: 1440px) {
    max-width: 540px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }

  &__item {
    margin-bottom: 70px;

    @media (max-width: 450px) {
      margin-bottom: 40px;
    }

    &:after {
      content: "";
      display: block;
      width: 135px;
      height: 1px;
      background: $ld-orange;
      margin-top: 30px;
    }
  }

  &__image {
    border-radius: 70px 0 0 0;
    overflow: hidden;
    margin-bottom: 45px;

    img {
      width: 100%;
    }
  }

  .simplebar-content-wrapper {
    overflow: auto;
  }
}
