.menu-button {
  background: none;
  border: none;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.modal-menu {
  position: fixed;
  z-index: 51;
  top: 0;
  right: 0;
  bottom: 0;
  width: 450px;
  background: #f53800;
  padding: 100px 60px 140px;
  overflow: auto;
  display: none;

  @media (max-width: 450px) {
    width: 300px;
    padding: 100px 30px 140px;
  }

  &__back {
    padding: 10px 15px;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__logo {
    margin-bottom: 100px;

    @media (max-width: 450px) {
      display: none;
    }
  }

  &__menu {
    a {
      display: block;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.2;
      text-transform: uppercase;
      color: #FBFFFF;
      text-decoration: none;
      margin-bottom: 40px;
    }
  }

  &__social {
    margin-top: 100px;

    a {
      margin-right: 40px;

      @media (max-width: 450px) {
        margin-right: 20px;
      }
    }
  }
}

.modal-contacts {
  position: fixed;
  z-index: 51;
  top: 0;
  right: 0;
  bottom: 0;
  width: 455px;
  background: #18181B;
  padding: 100px 60px 140px;
  overflow: auto;
  border-radius: 0 225px 0 0;
  display: none;

  @media (max-width: 450px) {
    width: 300px;
    padding: 100px 30px 140px;
  }

  &__back {
    padding: 10px 15px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }

  &__logo {
    margin-bottom: 100px;

    @media (max-width: 450px) {
      display: none;
    }
  }

  &__contacts {
    margin-bottom: 100px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .footer-contacts {
    max-width: 170px;

    a {
      display: flex;
      text-decoration: none;
      font-size: 15px;
      line-height: 1.4;
      color: #d0d0d0;
      margin-bottom: 6px;
    }

    &__icon {
      width: 12px;
      text-align: center;
      margin-right: 11px;
    }
  }

  &__social {
    margin-top: 100px;

    a {
      margin-right: 40px;

      @media (max-width: 450px) {
        margin-right: 20px;
      }
    }
  }
}
