.other-page {
  display: flex;

  @media (max-width: 767px) {
    display: block;
  }
}

.other-page-fixed {
  position: sticky;
  left: 0;
  height: calc(100vh - 68px);
  top: 68px;
  width: 45%;
  background: url("../img/orange-bg.png");
  border-radius: 0 115px 0 0;
  padding: 75px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  @media (max-width: 767px) {
    position: static;
    width: 100%;
    border-radius: 0;
    align-items: center;
    padding: 100px 20px;
  }

  @media (max-width: 450px) {
    padding: 70px 20px 40px;
  }

  &__title {
    font-weight: bold;
    font-size: 60px;
    line-height: 1.1;
    text-align: right;
    text-transform: uppercase;
    color: #FBFFFF;
    text-shadow: 3px 3px 0 rgba(50, 16, 15, 0.3);
    margin: 30px 0 40px;

    @media (max-width: 767px) {
      text-align: center;
      margin: 25px 0;
    }

    @media (max-width: 450px) {
      font-size: 36px;
    }
  }

  &__partners {
    span {
      font-size: 12px;
      line-height: 1.2;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 600;
      display: block;
      text-align: right;
      margin-bottom: 20px;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    a {
      margin-left: 10px;

      img {
        max-height: 65px;

        @media (max-width: 450px) {
          width: 80px;
        }
      }
    }
  }
}

.other-page-content {
  width: 55%;

  @media (max-width: 767px) {
    width: 100%;
  }

  &__dark-bg {
    background: #17262C;
  }

  &__gray-bg {
    background: #fafafa;
  }

  &__container {
    padding: 70px;

    @media (max-width: 767px) {
      padding: 70px 60px;
    }

    @media (max-width: 450px) {
      padding: 40px 20px;
    }
  }

  &__connect {
    font-size: 15px;
    line-height: 1.2;
    color: #FFFFFF;
    background: url("../img/other-page-content__connect.svg") left center no-repeat;
    padding: 10px 0 10px 56px;
  }

  &__connect-link {
    display: block;
    width: 100%;
    line-height: 54px;
    background: #F53800;
    border-radius: 2px;
    text-decoration: none !important;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF !important;
    margin-top: 30px;

    &:hover {
      background: #FF6435;
    }
  }

  &__image {
    width: 100%;
    border-radius: 0 0 77px 0;

    @media (max-width: 450px) {
      border-radius: 0 0 70px 0;
    }
  }

  h3 {
    margin: 70px 0 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    color: #111111;

    @media (max-width: 450px) {
      margin: 30px 0 10px;
    }
  }

  p,
  ul {
    font-weight: 300;
  }

  .docs-list {
    a {
      display: block;
      margin-bottom: 41px;
      border-bottom: 1px solid $ld-orange;
      padding: 10px 10px 10px 0;
      color: #111111;
      text-decoration: none !important;
      background: url("../img/docs-list.svg") right center no-repeat;

      @media (max-width: 450px) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 1px;

        &:hover {
          margin-bottom: 0;
        }
      }

      &:hover {
        border-bottom: 2px solid $ld-orange;
        margin-bottom: 40px;
      }
    }
  }

  .user-contact {
    display: flex;
    align-items: center;

    @media (max-width: 450px) {
      display: block;
    }

    &__avatar {
      width: 120px;
      min-width: 120px;
      margin-right: 30px;
      border-radius: 60px;

      @media (max-width: 450px) {
        margin: 0 auto 30px;
      }

      img {
        width: 100%;
      }
    }
    
    &__content {
      @media (max-width: 450px) {
        text-align: center;
      }
    }

    &__name {
      font-size: 20px;
      line-height: 1.2;
      color: #111111;
      margin-bottom: 10px;
    }

    p {
      font-weight: 300;
    }

    &__phone {
      font-size: 15px;
      color: #111111;
      text-decoration: none;
      font-weight: 600;

      span {
        margin-left: 15px;
      }
    }
  }

  .social-list {
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 41px;
      border-bottom: 1px solid $ld-orange;
      padding: 10px 10px 10px 0;
      color: #111111;
      text-decoration: none !important;

      &:last-child {
        margin-bottom: 1px;

        &:hover {
          margin-bottom: 0;
        }
      }

      &:hover {
        margin-bottom: 40px;
        border-bottom: 2px solid $ld-orange;
      }
    }

    &__icon {
      width: 30px;
      text-align: center;
      margin-right: 10px;
    }
  }
}
