.pro-traffic {
  background: $ld-dark url("../img/pro-traffic-bg.png") center bottom -370px no-repeat;
  padding: 180px 0;

  @media (max-width: 767px) {
    padding: 100px 0;
  }

  @media (max-width: 450px) {
    padding: 70px 0;
  }

  &__image {
    border-radius: 0 0 120px 0;
    overflow: hidden;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__image-mobile {
    display: none;
    margin-bottom: 50px;

    img {
      width: 100%;

      @media (max-width: 767px) {
        border-radius: 0 0 120px 0
      }
    }

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__content {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;

    a {
      display: block;
      margin: 50px auto 0;
      background: #F53800;
      border-radius: 2px;
      width: 220px;
      font-weight: bold;
      font-size: 20px;
      line-height: 54px;
      text-align: center;
      text-decoration: none;
      color: #FBFFFF;
    }
  }

  &__name {
    font-weight: bold;
    font-size: 60px;
    line-height: 110%;
    text-transform: uppercase;
    color: #FBFFFF;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    margin: 50px 0 20px;

    @media (max-width: 767px) {
      margin: 30px 0 50px;
    }

    @media (max-width: 450px) {
      font-size: 36px;
      margin: 20px 0 40px;
    }
  }

  &__description {
    color: #FBFFFF;
    line-height: 1.6;
  }
}
