<div class="dialog">
    <div class="dialog__left">
        <div class="dialog__content">
            <img src="uploads/pro-office-image.png" alt="">
            <div class="dialog__name">Диалог<br /> на равных</div>
            <div class="dialog__description">В Ростовской области реализуется Всероссийский проект Федерального агентства по делам молодежи «Диалог на равных»</div>
            <a href="">Подробнее</a>
        </div>
    </div>
    <div class="dialog__right">
        <div class="dialog-data">
            <div class="dialog-data__item">
                <div class="dialog-data__image">
                    <img src="uploads/dialog-data__image.png" alt="">
                </div>
                <p>Цель – на примере успешных и известных людей наглядно показать молодежи, что современная Россия – это страна возможностей, где можно добиться успеха в разнообразных сферах деятельности в независимости от региона.</p>
                <div class="dialog-data__count">01</div>
            </div>
            <div class="dialog-data__item">
                <div class="dialog-data__image">
                    <img src="uploads/dialog-data__image.png" alt="">
                </div>
                <p>Цель – на примере успешных и известных людей наглядно показать молодежи, что современная Россия – это страна возможностей, где можно добиться успеха в разнообразных сферах деятельности в независимости от региона.</p>
                <div class="dialog-data__count">02</div>
            </div>
            <div class="dialog-data__item">
                <div class="dialog-data__image">
                    <img src="uploads/dialog-data__image.png" alt="">
                </div>
                <p>Цель – на примере успешных и известных людей наглядно показать молодежи, что современная Россия – это страна возможностей, где можно добиться успеха в разнообразных сферах деятельности в независимости от региона.</p>
                <div class="dialog-data__count">03</div>
            </div>
        </div>
    </div>

    <div class="dialog-we-help">
        <div class="dialog-we-help__label">Мы поможем найти ответы</div>
        <div class="dialog-we-help-carousel">
            <div class="dialog-we-help-carousel__item">
                <img src="uploads/dialog-we-help.png" alt="">
                <p>Известный Деятель культуры</p>
            </div>
            <div class="dialog-we-help-carousel__item">
                <img src="uploads/dialog-we-help.png" alt="">
                <p>Известный </p>
            </div>
            <div class="dialog-we-help-carousel__item">
                <img src="uploads/dialog-we-help.png" alt="">
                <p>Известный </p>
            </div>
        </div>
    </div>
</div>
