<footer class="footer">
    <div class="container-block">
        <div class="d-flex justify-content-between">
            <div class="footer__column d-none d-md-block">
                <div class="footer__logo">
                    <img src="img/logo.svg" alt="">
                    ЛИДЕРЫ <br />
                    ДОНА
                </div>
            </div>

            <div class="footer__column d-none d-md-block">
                <div class="footer__title">Навигация</div>

                <div class="footer__links">
                    <a href="">О нас</a>
                    <a href="">Молодежная команда страны</a>
                    <a href="">ПРО_движение</a>
                    <a href="">ПРО_офис </a>
                    <a href="">Диалог на равных</a>
                    <a href="">Лига студенческих клубов</a>
                    <a href="">Контакты</a>
                </div>
            </div>

            <div class="footer__column d-none d-md-block">
                <div class="footer__title">Контакты</div>

                <div class="footer-contacts">
                    <a href="tel:+7 918 530 56 78" >
                        <span class="footer-contacts__icon"><img src="img/phone-icon.svg" alt=""></span>
                        <span class="footer-contacts__text">+7 918 530 56 78</span>
                    </a>
                    <a href="mailto:armi@yandex.ru">
                        <span class="footer-contacts__icon"><img src="img/mail-icon.svg" alt=""></span>
                        <span class="footer-contacts__text">armi@yandex.ru</span>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href="">
                        <span class="footer-contacts__icon"><img src="img/location-icon.svg" alt=""></span>
                        <span class="footer-contacts__text">Ростов-на-Дону, пер. Журавлева, 150</span>
                    </a>
                </div>
            </div>

            <div class="footer__column d-none d-md-block">
                <div class="footer__title">Для СМИ</div>

                <div class="footer-contacts">
                    <a href="tel:+7 918 530 56 78" >
                        <span class="footer-contacts__icon"><img src="img/phone-icon.svg" alt=""></span>
                        <span class="footer-contacts__text">+7 918 530 56 78</span>
                    </a>
                    <a href="mailto:armi@yandex.ru">
                        <span class="footer-contacts__icon"><img src="img/mail-icon.svg" alt=""></span>
                        <span class="footer-contacts__text">armi@yandex.ru</span>
                    </a>
                    <a target="_blank" rel="noopener noreferrer" href="">
                        <span class="footer-contacts__icon"><img src="img/location-icon.svg" alt=""></span>
                        <span class="footer-contacts__text">Ростов-на-Дону, пер. Журавлева, 150</span>
                    </a>
                </div>
            </div>

            <div class="footer__column footer__partners">
                <div class="footer__title">Партнеры</div>
                
                <div class="footer-partners">
                    <a href=""><img src="uploads/footer-partners.png" alt=""></a>
                    <a href=""><img src="uploads/footer-partners.png" alt=""></a>
                    <a href=""><img src="uploads/footer-partners.png" alt=""></a>
                    <a href=""><img src="uploads/footer-partners.png" alt=""></a>
                    <a href=""><img src="uploads/footer-partners.png" alt=""></a>
                    <a href=""><img src="uploads/footer-partners.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container-block">
            <div class="footer__copyright">
                Любое использование материалов допускается только с согласия редакции. Все права на<br />
                изображения и тексты принадлежат их авторам. © 2019. Все права защищены.
            </div>
        </div>
    </div>
</footer>
