<header class="header-fixed">
    <a href="/" class="header-fixed__logo">
        <img src="img/header-fixed__logo.svg" alt="">
    </a>
    
    <div class="header-fixed__menu">
        <a href="">О нас</a>
        <a href="">Молодежная команда</a>
        <a href="">ПРО_движение</a>
        <a href="">ПРО_офис </a>
        <a href="">Диалог на равных </a>
        <a href="">Лига студенческих клубов </a>
        <a href="">Контакты </a>
    </div>

    <div class="header-fixed__social">
        <a href=""><img src="img/vk-icon-2.svg" alt=""></a>
        <a href=""><img src="img/instagram-icon-2.svg" alt=""></a>
        <a href=""><img src="img/facebook-icon-2.svg" alt=""></a>
        <a href=""><img src="img/youtube-icon-2.svg" alt=""></a>
    </div>

    <div class="header-fixed__km">
        <img src="img/header-fixed__km.png" alt="">
    </div>
</header>
