<header class="header">
    <video class="header__video" autoplay loop muted playsinline>
        <source src="img/video.mp4" type="video/mp4">
    </video>
    <div class="header__video-overlay"></div>
    <div class="container-block position-relative h-100">
        <div class="header__container">
            <div>
                <div class="header__logo">
                    <img src="img/logo.svg" alt="">
                    ЛИДЕРЫ <br />
                    ДОНА
                </div>

                <div class="header__slogan">
                    Текст (пояснение): данный текст временный. (текст предоставляется Заказчиком Исполнителю).
                </div>
            </div>


            <div class="header__bottom">
                <div class="header__menu">
                    <a href="">О нас</a>
                    <a href="">Молодежная команда страны</a>
                    <a href="">ПРО_движение</a>
                    <a href="">ПРО_офис </a>
                    <a href="">Диалог на равных</a>
                    <a href="">Лига студенческих клубов</a>
                    <a href="">Контакты</a>
                </div>

                <div class="header__social">
                    <a href=""><img class="svg-load" src="img/vk-icon.svg" alt=""></a>
                    <a href=""><img class="svg-load" src="img/instagram-icon.svg" alt=""></a>
                    <a href=""><img class="svg-load" src="img/facebook-icon.svg" alt=""></a>
                    <a href=""><img class="svg-load" src="img/youtube-icon.svg" alt=""></a>
                </div>
                
                <div class="header__scroll">
                    <img src="img/scroll-chevron.svg" alt="">
                </div>
            </div>
        </div>

    </div>
</header>
