<div class="lskd">
    <div class="container-block">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="lskd__content">
                    <div class="lskd__logo"><img src="img/lskd__logo.png" alt=""></div>
                    <div class="lskd__name">ЛИГА СТУДЕНЧЕСКИХ КЛУБОВ ДОНА</div>

                    <div class="d-sm-flex justify-content-center">
                        <div class="lskd__description">Коммуникационное пространство неформальных студенческих сообществ</div>
                        <div class="lskd__description">Экосистема  для открытого взаимодействия молодежи на своем языке</div>
                    </div>

                    <a href="" class="more">Подробнее</a>
                </div>

            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative lskd-image-block">
                    <div class="lskd__image">
                        <img src="uploads/lskd__image.jpg" alt="">
                    </div>
                    <div class="lskd-target">
                        <div class="lskd-target__title">Цели</div>

                        <div class="lskd-target-carousel">
                            <div class="lskd-target-carousel__item">
                                <div class="d-flex flex-column h-100">
                                    <p>Выстраивание системы работы со студентами на межвузовском уровне</p>
                                    <div class="lskd-target-carousel__count">01</div>
                                </div>
                            </div>
                            <div class="lskd-target-carousel__item">
                                <div class="d-flex flex-column h-100">
                                    <p>Объединение студенческих клубов единой повесткой</p>
                                    <div class="lskd-target-carousel__count">02</div>
                                </div>
                            </div>
                            <div class="lskd-target-carousel__item">
                                <div class="d-flex flex-column h-100">
                                    <p>Выстраивание системы работы со студентами на межвузовском уровне</p>
                                    <div class="lskd-target-carousel__count">03</div>
                                </div>
                            </div>
                            <div class="lskd-target-carousel__item">
                                <div class="d-flex flex-column h-100">
                                    <p>Объединение студенческих клубов единой повесткой</p>
                                    <div class="lskd-target-carousel__count">04</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="lskd-qr">
                        <div class="lskd-qr__item">
                            <a href=""><img src="img/qr-apple-label.png" alt=""></a>
                            <div class="p-3"><img src="img/qr-3.png" alt=""></div>
                        </div>
                        <div class="lskd-qr__item">
                            <a href=""><img src="img/qr-android-label.png" alt=""></a>
                            <div class="p-3"><img src="img/qr-3.png" alt=""></div>
                        </div>
                    </div>
                </div>

                <a href="" class="more link-mobile">Подробнее</a>
            </div>
        </div>
    </div>
</div>
