<head>
    <meta charset="UTF-8">
    <meta id="vp" name="viewport" content="width=device-width; initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Лидеры Дона</title>
    <link rel="stylesheet" href="css/style.bundle.css" />

    <script>
        var mvp = document.getElementById('vp');
        if (screen.width < 400) {
            mvp.setAttribute('content','user-scalable=no,width=400');
        } else if (screen.width < 767) {
            mvp.setAttribute('content','user-scalable=no,width=767');
        } else if (screen.width < 1199) {
            mvp.setAttribute('content','user-scalable=no,width=1199');
        }
    </script>
</head>
