<section class="mks-block">
    <div class="mks-block__left">
        <img src="uploads/mks-logo.png" alt="">
        <div class="mks-block__name">Молодежная<br /> команда<br /> страны</div>
        <a href="">Подробнее</a>
    </div>
    <div class="mks-block__right">
        <div class="mks-data">
            <div class="mks-data__item">
                <div class="mks-data__image"><img src="uploads/mks-data__image.png" alt=""></div>
                <p>Проект направлен на создание системы поиска, отбора и подготовки молодых лидеров посредством вовлечения в процесс управления обществом и развития управленческих компетенций в общественно – политической сфере с целью качественного обновления органов власти всех уровней.</p>
            </div>

            <div class="mks-data__item">
                <div class="mks-data__image"><img src="uploads/mks-data__image.png" alt=""></div>
                <p>Проект направлен на создание системы поиска, отбора и подготовки молодых лидеров посредством вовлечения в процесс управления обществом и развития управленческих компетенций в общественно – политической сфере с целью качественного обновления органов власти всех уровней.</p>
            </div>
        </div>
    </div>
</section>
