<button class="menu-button">
    <img src="img/menu-button.svg" alt="">
</button>

<div class="modal-overlay"></div>
<div class="modal-menu">
    <div class="modal-menu__back modal-close">
        <img src="img/modal-menu__back.svg" alt="">
    </div>
    <div class="modal-menu__logo">
        <img src="img/modal-menu__logo.svg" alt="">
    </div>
    <div class="modal-menu__menu">
        <a href="">О нас</a>
        <a href="">Молодежная команда страны</a>
        <a href="">ПРО_движение</a>
        <a href="">ПРО_офис </a>
        <a href="">Диалог на равных</a>
        <a href="">Лига студенческих клубов</a>
        <a href="" class="open-menu-contacts">Контакты</a>
    </div>

    <div class="modal-menu__social">
        <a href=""><img src="img/vk-icon.svg" alt=""></a>
        <a href=""><img src="img/instagram-icon.svg" alt=""></a>
        <a href=""><img src="img/facebook-icon.svg" alt=""></a>
        <a href=""><img src="img/youtube-icon.svg" alt=""></a>
    </div>
</div>
<div class="modal-contacts">
    <div class="modal-contacts__back modal-close">
        <img src="img/modal-menu__back.svg" alt="">
    </div>
    <div class="modal-contacts__logo">
        <img src="img/modal-menu__logo.svg" alt="">
    </div>

    <div class="modal-contacts__contacts">
        <div class="modal-contacts__title">Контакты</div>

        <div class="footer-contacts">
            <a href="tel:+7 918 530 56 78" >
                <span class="footer-contacts__icon"><img src="img/phone-icon.svg" alt=""></span>
                <span class="footer-contacts__text">+7 918 530 56 78</span>
            </a>
            <a href="mailto:armi@yandex.ru">
                <span class="footer-contacts__icon"><img src="img/mail-icon.svg" alt=""></span>
                <span class="footer-contacts__text">armi@yandex.ru</span>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="">
                <span class="footer-contacts__icon"><img src="img/location-icon.svg" alt=""></span>
                <span class="footer-contacts__text">Ростов-на-Дону, пер. Журавлева, 150</span>
            </a>
        </div>
    </div>

    <div class="modal-contacts__contacts">
        <div class="modal-contacts__title">Для СМИ</div>

        <div class="footer-contacts">
            <a href="tel:+7 918 530 56 78" >
                <span class="footer-contacts__icon"><img src="img/phone-icon.svg" alt=""></span>
                <span class="footer-contacts__text">+7 918 530 56 78</span>
            </a>
            <a href="mailto:armi@yandex.ru">
                <span class="footer-contacts__icon"><img src="img/mail-icon.svg" alt=""></span>
                <span class="footer-contacts__text">armi@yandex.ru</span>
            </a>
            <a target="_blank" rel="noopener noreferrer" href="">
                <span class="footer-contacts__icon"><img src="img/location-icon.svg" alt=""></span>
                <span class="footer-contacts__text">Ростов-на-Дону, пер. Журавлева, 150</span>
            </a>
        </div>
    </div>

    <div class="modal-contacts__social">
        <a href=""><img src="img/vk-icon.svg" alt=""></a>
        <a href=""><img src="img/instagram-icon.svg" alt=""></a>
        <a href=""><img src="img/facebook-icon.svg" alt=""></a>
        <a href=""><img src="img/youtube-icon.svg" alt=""></a>
    </div>
</div>
