<div class="pro-traffic">
    <div class="container-block">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="pro-traffic__image">
                    <img src="uploads/pro-traffic.png" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="pro-traffic__content">
                    <img src="uploads/pro-office-image.png" alt="">
                    <div class="pro-traffic__name">ПРО_ДВИЖЕНИЕ</div>
                    <div class="pro-traffic__image-mobile">
                        <img src="uploads/pro-traffic.png" alt="">
                    </div>
                    <div class="pro-traffic__description">Проект направлен на создание системы поиска, отбора и подготовки молодых лидеров посредством вовлечения в процесс управления обществом и развития управленческих компетенций в общественно – политической сфере с целью качественного обновления органов власти всех уровней.</div>
                    <a href="">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
