<!DOCTYPE html>
<html lang="en">
<%= require('./../includes/meta.html').default %>
<body>
    <div class="wrapper">
        <%= require('./../includes/header-fixed.html').default %>

        <main class="main">
            <div class="forms-page">
                <div class="forms-page__wrap">
                    <div class="profile-title">
                        <div class="profile-title__icon"><img src="img/profile-icon.png" alt=""></div>
                        <div class="profile-title__content">
                            <h2>Анкета<br /> «ПРО_Движение»</h2>
                            <p>Если вы желаете присоединиться к деятельности лиги студенческих клубов дона, заполните необходимые пункты в анкете, следуя подсказкам и примечаниям.</p>
                        </div>
                    </div>

                    <div class="forms-block">
                        <div class="forms-block__title">Персональные данные</div>

                        <input type="text" placeholder="ФИО">
                        <input type="text" placeholder="Место жительства">
                        <select class="forms-block__select" data-option="First option">
                            <option value="">-----</option>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                        <input type="text" class="datepicker-here" data-auto-close="true" placeholder="Дата рождения">
                    </div>
                    <div class="forms-block">
                        <div class="forms-block__title">Контаты</div>

                        <input type="text" placeholder="Номер телефона">
                        <input type="text" placeholder="Электронная почта">
                        <input type="text" placeholder="Ссылка на аккаунт в соц сетях">

                        <div class="checkbox-list" data-max="2">
                            <label class="checkbox">
                                <input type="checkbox" name="eeee" class="d-none">
                                <div class="checkbox-custom">
                                    <div class="checkbox-custom__block"></div>
                                    <div class="checkbox-custom__content">
                                        <div class="checkbox-custom__title">Студенческие инициативы</div>
                                        <div class="checkbox-custom__list">
                                            — развитие студенчесих клубов <br />
                                            — студенческое самоуправление <br />
                                            — студенческие отряды
                                        </div>
                                    </div>
                                </div>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" name="eeee" class="d-none">
                                <div class="checkbox-custom">
                                    <div class="checkbox-custom__block"></div>
                                    <div class="checkbox-custom__content">
                                        <div class="checkbox-custom__title">Патриотическое воспитание</div>
                                        <div class="checkbox-custom__list">
                                            — гражданско-патриотическое воспитание молодежи <br />
                                            — сохранение традиционной культуры и ремесел народов страны <br />
                                            — сохранение исторической памяти <br />
                                            — поисковые движения
                                        </div>
                                    </div>
                                </div>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" name="eeee" class="d-none">
                                <div class="checkbox-custom">
                                    <div class="checkbox-custom__block"></div>
                                    <div class="checkbox-custom__content">
                                        <div class="checkbox-custom__title">Патриотическое воспитание</div>
                                        <div class="checkbox-custom__list">
                                            — гражданско-патриотическое воспитание молодежи <br />
                                            — сохранение традиционной культуры и ремесел народов страны <br />
                                            — сохранение исторической памяти <br />
                                            — поисковые движения
                                        </div>
                                    </div>
                                </div>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" name="eeee" class="d-none">
                                <div class="checkbox-custom">
                                    <div class="checkbox-custom__block"></div>
                                    <div class="checkbox-custom__content">
                                        <div class="checkbox-custom__title">Патриотическое воспитание</div>
                                        <div class="checkbox-custom__list">
                                            — гражданско-патриотическое воспитание молодежи <br />
                                            — сохранение традиционной культуры и ремесел народов страны <br />
                                            — сохранение исторической памяти <br />
                                            — поисковые движения
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="forms-block">
                        <div class="forms-block__title">
                            Сфера интересов
                            <small>вы можете выбрать не более трех сфер деятельности</small>
                        </div>

                        <div class="checkbox-list" data-max="3">
                            <label class="checkbox">
                                <input type="checkbox" name="eeee" class="d-none">
                                <div class="checkbox-custom">
                                    <div class="checkbox-custom__block"></div>
                                    <div class="checkbox-custom__content">
                                        <div class="checkbox-custom__title">Студенческие инициативы</div>
                                        <div class="checkbox-custom__list">
                                            — развитие студенчесих клубов <br />
                                            — студенческое самоуправление <br />
                                            — студенческие отряды
                                        </div>
                                    </div>
                                </div>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" name="eeee" class="d-none">
                                <div class="checkbox-custom">
                                    <div class="checkbox-custom__block"></div>
                                    <div class="checkbox-custom__content">
                                        <div class="checkbox-custom__title">Патриотическое воспитание</div>
                                        <div class="checkbox-custom__list">
                                            — гражданско-патриотическое воспитание молодежи <br />
                                            — сохранение традиционной культуры и ремесел народов страны <br />
                                            — сохранение исторической памяти <br />
                                            — поисковые движения
                                        </div>
                                    </div>
                                </div>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" name="eeee" class="d-none">
                                <div class="checkbox-custom">
                                    <div class="checkbox-custom__block"></div>
                                    <div class="checkbox-custom__content">
                                        <div class="checkbox-custom__title">Патриотическое воспитание</div>
                                        <div class="checkbox-custom__list">
                                            — гражданско-патриотическое воспитание молодежи <br />
                                            — сохранение традиционной культуры и ремесел народов страны <br />
                                            — сохранение исторической памяти <br />
                                            — поисковые движения
                                        </div>
                                    </div>
                                </div>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" name="eeee" class="d-none">
                                <div class="checkbox-custom">
                                    <div class="checkbox-custom__block"></div>
                                    <div class="checkbox-custom__content">
                                        <div class="checkbox-custom__title">Патриотическое воспитание</div>
                                        <div class="checkbox-custom__list">
                                            — гражданско-патриотическое воспитание молодежи <br />
                                            — сохранение традиционной культуры и ремесел народов страны <br />
                                            — сохранение исторической памяти <br />
                                            — поисковые движения
                                        </div>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="forms-block">
                        <div class="forms-block__title">
                            Опыт общественной деятельности
                            <small>загрузите не более 10 значимых грамот, благодарственных писем, сертификатов (jpg, png, pdf)</small>
                        </div>

<!--                        <div class="input-file-list"></div>-->
<!--                        <label class="input-file">-->
<!--                            <input type="file" multiple class="d-none input-file__change">-->
<!--                            <div class="input-file__input">Загрузить</div>-->
<!--                        </label>-->

                        <input type="file" multiple class="input-file">
                    </div>

                    <div class="forms-block">
                        <div class="forms-block__title">
                            Дополнительная информация
                            <small>не более 100 символов</small>
                        </div>

                        <textarea></textarea>
                    </div>

                    <div class="forms-block">
                        <label class="checkbox-2">
                            <input type="checkbox" name="eeee" class="d-none">
                            <div class="checkbox-custom">
                                <div class="checkbox-custom__block"></div>
                                <div class="checkbox-custom__content">
                                    Я даю согласие на обработку и использование моих персональных данных комитету
                                    по молодежной политике Ростовской области согласно Федерального закона No152-ФЗ
                                    от 27.07.2006 г. «О персональных данных»
                                </div>
                            </div>
                        </label>
                    </div>

                    <div class="forms-block mb-0">
                        <button type="submit">Присоединиться к деятельности</button>
                    </div>
                </div>
            </div>
        </main>

        <%= require('./../includes/footer.html').default %>
    </div>

    <%= require('./../includes/modal.html').default %>

    <script src="js/bundle.js"></script>
</body>
</html>
