<!DOCTYPE html>
<html lang="en">
<%= require('./../includes/meta.html').default %>
<body>
    <div class="wrapper">
        <%= require('./../includes/header.html').default %>
        <%= require('./../includes/header-fixed.html').default %>

        <main class="main">
            <%= require('./../includes/mks-block.html').default %>
            <%= require('./../includes/pro-traffic.html').default %>
            <%= require('./../includes/pro-office.html').default %>
            <%= require('./../includes/dialog.html').default %>
            <%= require('./../includes/lskd.html').default %>
        </main>

        <%= require('./../includes/footer.html').default %>
    </div>

    <%= require('./../includes/modal.html').default %>

    <script src="js/bundle.js"></script>
</body>
</html>
