<!DOCTYPE html>
<html lang="en">
<%= require('./../includes/meta.html').default %>
<body>
    <div class="wrapper">
        <%= require('./../includes/header-fixed.html').default %>

        <main class="main">
            <div class="other-page">
                <div class="other-page-fixed">
                    <img src="uploads/mks-logo.png" alt="">
                    <div class="other-page-fixed__title">ПРО<br /> Движение<br /> Движение</div>
                    <div class="other-page-fixed__partners">
                        <span>Партнеры проекта</span>
                        <div class="d-flex">
                            <a href=""><img src="uploads/other-page-fixed__partners.png" alt=""></a>
                            <a href=""><img src="uploads/other-page-fixed__partners.png" alt=""></a>
                            <a href=""><img src="uploads/other-page-fixed__partners.png" alt=""></a>
                        </div>
                    </div>
                </div>

                <div class="other-page-content">
                    <div class="other-page-content__offset">
                        <div class="other-page-content__container">
                            <img class="other-page-content__image" src="uploads/other-page-content.png" alt="">

                            <h3>Задачи проекта</h3>
                            <p>Федеральный проект «Молодежная команда страны» направлен на поиск, отбор и подготовку талантливых кадров для органов исполнительной и законодательной власти субъектов Российской Федерации.</p>
                            <p>В рамках проекта молодые начинающие политики повышают свои профессиональные компетенции, принимают участие в реализации социально значимых проектов и формируют предвыборную платформу для избирательной кампании по выборам депутатов представительных органов муниципальных образований.</p>

                            <h3>Документация</h3>
                            
                            <div class="docs-list">
                                <a href="">Дорожная карта МКС.jpg</a>
                                <a href="">Памятка по осуществлению предвыборной агитации.pdf</a>
                                <a href="">Памятка по размещению АПМ в СМИ.doc</a>
                                <a href="">Памятка по выдвижению и регистраци кандидатов МКС.png</a>
                            </div>
                        </div>
                    </div>

                    <div class="other-page-content__gray-bg">
                        <div class="other-page-content__offset">
                            <div class="other-page-content__container">
                                <div class="user-contact">
                                    <div class="user-contact__avatar">
                                        <img src="uploads/user-contact__avatar.png" alt="">
                                    </div>
                                    <div class="user-contact__content">
                                        <div class="user-contact__name">Мирошниченко Ольга Федоровна</div>
                                        <p>Председатель Молодежного парламента при Законодательном собрании Ростовской области V созыва</p>
                                        <a href="tel:8 (951) 515 76 89" class="user-contact__phone">
                                            <img src="img/phone-icon.svg" alt="">
                                            <span>8 (951) 515 76 89</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="other-page-content__offset">
                        <div class="other-page-content__container">
                            <h3 class="mt-0">Молодежный парламент в соцсетях</h3>

                            <div class="social-list">
                                <a href="" class="social-list__item">
                                    <span class="social-list__icon"><img src="img/social-list-vk.svg" alt=""></span>
                                    <span class="social-list__text">/mks_russia</span>
                                </a>
                                <a href="" class="social-list__item">
                                    <span class="social-list__icon"><img src="img/social-list-instagram.svg" alt=""></span>
                                    <span class="social-list__text">@mks_russia</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="other-page-content__dark-bg">
                        <div class="other-page-content__offset">
                            <div class="other-page-content__container">
                                <div class="other-page-content__connect">Если вы желаете присоединиться к деятельности молодежного парламента, проийдете по ссылке и заполните анкету.</div>
                                <a class="other-page-content__connect-link" href="">Присоединиться к команде</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <%= require('./../includes/footer.html').default %>
    </div>

    <%= require('./../includes/modal.html').default %>

    <script src="js/bundle.js"></script>
</body>
</html>
