@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.eot") format("eot"),
       url("../fonts/ProximaNova-Regular.ttf") format("ttf"),
       url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.eot") format("eot"),
       url("../fonts/ProximaNova-Light.ttf") format("ttf"),
       url("../fonts/ProximaNova-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "ProximaNova";
  src:  url("../fonts/ProximaNova-Semibold.eot") format("eot"),
        url("../fonts/ProximaNova-Semibold.ttf") format("ttf"),
        url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.eot") format("eot"),
       url("../fonts/ProximaNova-Bold.ttf") format("ttf"),
       url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
