@import "~bootstrap/scss/bootstrap";
@import "~simplebar/dist/simplebar.css";
@import "~slick-carousel/slick/slick.css";
@import "./modules/filepond.custom";
@import "~air-datepicker/dist/css/datepicker.min.css";
@import '~sweetalert2/src/sweetalert2.scss';

@import "variables";
@import "fonts";

body {
  font-family: "ProximaNova", sans-serif;
  font-size: 18px;
  color: #111111;

  @media (max-width: 450px) {
    font-size: 14px;
  }
}

.container-block {
  padding: 0 6%;

  @media (max-width: 1440px) {
    padding: 0 8%;
  }

  @media (max-width: 450px) {
    padding: 0 20px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media (max-width: 1199px) {
    min-width: 1199px;
  }

  @media (max-width: 767px) {
    min-width: 767px;
  }

  @media (max-width: 450px) {
    min-width: 360px;
  }
}

@import "modules/header";
@import "modules/header-fixed";

.main {

}

@import "modules/mks-block";
@import "modules/pro-traffic";
@import "modules/pro-office";
@import "modules/dialog";
@import "modules/lskd";
@import "modules/modal";
@import "modules/other-page";

.forms-page {
  background: #F3F3F3;
  border-top: 6px solid $ld-orange;

  &__wrap {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    padding: 80px 100px 160px;

    @media (max-width: 767px) {
      padding: 70px 60px 100px;
    }

    @media (max-width: 450px) {
      padding: 70px 20px;
    }
  }

  .profile-title {
    display: flex;
    margin-bottom: 70px;

    @media (max-width: 767px) {
      display: block;
    }

    &__icon {
      min-width: 150px;
      width: 150px;
      margin-right: 50px;

      @media (max-width: 767px) {
        margin: 0 auto 50px;
      }

      @media (max-width: 450px) {
        min-width: 120px;
        width: 120px;
      }

      img {
        width: 100%;
      }
    }

    h2 {
      font-weight: bold;
      font-size: 42px;
      line-height: 1.1;
      margin: 0 0 40px;

      @media (max-width: 767px) {
        text-align: center;
      }

      @media (max-width: 450px) {
        font-size: 24px;
        margin: 0 0 20px;
      }
    }

    p {
      font-weight: 300;
    }
  }

  .forms-block {
    padding-left: 200px;
    margin-bottom: 50px;

    @media (max-width: 767px) {
      padding-left: 0;
    }

    &__title {
      font-size: 28px;
      line-height: 1.2;
      font-weight: 600;
      margin: 0 0 40px;

      @media (max-width: 450px) {
        font-size: 18px;
        margin: 0 0 30px;
      }

      small {
        display: block;
        color: #464646;
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        line-height: 1.4;
        margin-top: 10px;

        @media (max-width: 450px) {
          font-size: 14px;
        }
      }
    }

    input {
      width: 100%;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid $ld-orange;
      height: 40px;
      font-size: 18px;
      color: #111111;
      outline: none;

      @media (max-width: 450px) {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }

    select {
      width: 100%;
      margin-bottom: 30px;
      background: none;
      border: none;
      border-bottom: 1px solid $ld-orange;
      height: 40px;
      font-size: 18px;
      color: #111111;
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;

      @media (max-width: 450px) {
        font-size: 14px;
        margin-bottom: 20px;
      }
    }

    textarea {
      border: 1px solid #C4C4C4;
      border-radius: 3px;
      width: 100%;
      height: 125px;
      padding: 15px 20px;
      outline: none;
      resize: none;
    }

    button[type=submit] {
      height: 54px;
      width: 100%;
      border: none;
      background: #F53800;
      border-radius: 2px;
      font-size: 15px;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: 700;

      &:hover {
        background: #FF6435;
      }
    }

    .checkbox {
      display: block;
      margin-bottom: 30px;

      .checkbox-custom {
        display: flex;

        &__block {
          border-radius: 2px;
          border: 1px solid #F53800;
          min-width: 18px;
          height: 18px;
          margin: 5px 20px 0 0;
        }

        &__title {
          margin-bottom: 10px;
        }

        &__list {
          font-size: 15px;
          line-height: 1.4;
          color: #464646;
          font-weight: 300;
          font-style: italic;
        }
      }

      input:checked + .checkbox-custom {
        .checkbox-custom__block {
          &:after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            background: #F53800;
            border-radius: 2px;
            margin: 2px;
          }
        }
      }
    }

    .checkbox-2 {
      display: block;
      margin-bottom: 30px;

      .checkbox-custom {
        display: flex;

        &__block {
          border-radius: 2px;
          border: 1px solid #F53800;
          min-width: 38px;
          height: 38px;
          margin: 0 30px 0 0;
        }

        &__content {
          font-size: 12px;
          line-height: 1.2;
          max-width: 520px;
        }
      }

      input:checked + .checkbox-custom {
        .checkbox-custom__block {
          background: url("../img/checkbox-2.svg") center center no-repeat;
        }
      }
    }

    .input-file-list {
      &__item {
        padding: 10px 0;
        border-bottom: 1px solid $ld-orange;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &__remove {
        min-width: 14px;
        width: 14px;
        height: 14px;
        border: none;
        background: url("../img/input-file-list__remove.svg");
        background-size: 100% 100%;

        &:hover {

        }
      }
    }

    .input-file {
      display: block;
      cursor: pointer;

      &__input {
        padding: 10px 0;
        border-bottom: 1px solid $ld-orange;
      }
    }
  }
}

@import "modules/footer";
